body {
    font-family: "Inter", sans-serif;
}

.navbar {
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 16px;
}

.navbar-brand {
    color: #4049d7 !important;
    font-weight: 600;
    font-size: 24px;
}

.nav-link {
    font-size: 16px;
    color: #878787 !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #4049d7 !important;
    text-decoration: underline;
    text-underline-offset: 8px;
    font-weight: bold;
}

.btn-log-profile {
    width: 140px;
    height: 40px;
    background: #f83521 !important;
}

#head {
    display: flex;
}
#profil {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#profile {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: #555;
}

#section {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 200px;
    background-color: #eee;
    padding: 20px;
}
#main {
    flex: 1;
    background-color: #fff;
    padding: 10px;
}

.card-profil {
    padding: 10px;
}
