<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


  </head>
  <body>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="D:\semester5\QUIS HTML CSS\logo1.png" class="rounded float-start" alt="130" height="120">
    <a class="navbar-brand" href="#">Hallo, Welcome to AR'RA Coffe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Ar'Ra Menu
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <section>

    <center>
    <h2>Reservasi Kendaraan Ead</h2>
    <a> Reservasi Kendaraan Ead merupakan jasa rental kendaraan mobil</a>
  </center>
  </div>
  <center>
    <iframe class="embed-responsive-item"_width
  ="1280" heigth="720" src="http://bit.ly/VideoEAD2020" frameborder="0"
  allowfullscreen>
  </iframe>
  </center>
  <center>
    <h4>Tentang Kami</h4>
  </center>
  <center>
  <div class="row" width="25"> 
    <div class="col-md-6">
     <div class="box">Ead merupakan perusahaan jasa tranportasi mobil antar kota dengan ruang lingkup rute jurusan mulai dari Banten hingga daerah sekitar Jawa Barat. Ead memiliki 22 rute perjalanan dengan rute perjalanan terakhir yang baru dibuka yaitu rute jurusan Soekarno Hatta Bandung.
    </div> 
    </div>
      <div class="col-md-6">
        <div class="box">Ead merupakan perusahaan jasa tranportasi mobil antar kota dengan ruang lingkup rute jurusan mulai dari Banten hingga daerah sekitar Jawa Barat. Ead memiliki 22 rute perjalanan dengan rute perjalanan terakhir yang baru dibuka yaitu rute jurusan Soekarno Hatta Bandung.
        </div>
      </div>
    </div>
  </center>
  <section style="text-align:center">
    <h4>Lokasi kami</h4>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22080.964426564846!2d107.65091125257513!3d-6.988524641469943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c2753c544847%3A0x401e8f1fc28c6f0!2sBojongsoang%2C%20Kec.%20Bojongsoang%2C%20Kabupaten%20Bandung%2C%20Jawa%20Barat!5e0!3m2!1sid!2sid!4v1665912103189!5m2!1sid!2sid"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <center>
    <h4>Jenis Mobil</h4>
  </center>
  <center>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="fortuner.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Fortuner
            start from 350
          </p>
          <li>hitam</li>
            <li>6 kursi</li>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="honda brio.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Honda Brio
              start from 200
            </p>
            <li>hitam</li>
            <li>4 kursi</li>
          </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="Toyota Ayla.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Toyota Ayla
                  start from 300
                </p>
                <li>kuning</li>
            <li>4 kursi</li>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</center>
  <center>
    <h4>Pendaftaran Mobil</h4>
  </center>
    
  <form action="">
    <table>
        <tr>
            <td>Email Addres</td>
            <td>:</td>
            <td>
                <input type="text">
            </td>
        </tr>
        <br>
        <tr>
            <td>Nama Lengkap</td>
            <td>:</td>
            <td>
               <input type="text">
            </td>
        </tr>
        <br>
        <tr>
            <td>No hp</td>
            <td>:</td>
            <td>
               <input type="password">
            </td>
        <tr>
    
            <td>Jenis Mobil</td>
            <td>:</td>
            <td>
                <input type="checkbox">Honda Brio
                <br>        
                <input type="checkbox">Fortuner
                <br>
                <input type="checkbox">Toyota Ayla
            </td>
          </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td>
                <textarea name="" id="" cols="20" rows="6"></textarea>
            </td>
            <tr>
              <td>Membutuhkan supir?</td>
              <td>:</td>
              <td>
                  <select name="" id="">
                      <option value="">------Pilih------</option>
                      <option value="">Ya</option>
                      <option value="">Tidak</option>
                      
                  </select>
              </td>
          </tr>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <button type="pesan">pesan</button>
            </td>
          </table>
        </center>
        </tr>
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Copyright 2022 Riski Alfika Sari_1202200023_SI4402
          </button>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">  Copyright</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Nama Lengkap : Riski Alfika Sari</p>
                  <p>NIM : 1202200023</p>
                  <p>Kelas : SI4402 </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>


</body>
</html>